# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

4) Can a python print function take no value to print???

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

# print()

In [46]:
print("areeb",12,14.7,True)#question 1 and 2
print("areeb",12,14.7,"true",sep="-")

areeb 12 14.7 True
areeb-12-14.7-true

In [10]:
print("areeb",end='\t')#question 3
print(14,end='\t')
print(23.4,end='\t')
print(True,end='\t')

areeb	14	23.4	True

In [16]:
print()#question 4  
# yes python print function can take no value

# variables

In [43]:
#question 5
name="Mr. Ahmed"
age=30
profession="lawer"
qualification="bechlors in law"
graduation_year=2005
works_in= 'The Himalya Associates'
height=5.10
weight_in_gram= 70600
income=200000

In [23]:
current_year=2024

In [25]:
years_from_graduation=current_year - graduation_year

In [26]:
print(years_from_graduation)#question 6

19

In [29]:
working_since=2015

In [31]:
work_years=current_year - working_since

In [32]:
print(work_years)#question 7

9

In [33]:
income_in_dollars=income/256

In [34]:
print(income_in_dollars)#question 8

781.25

In [38]:
print(type(c))

<class 'float'>

In [39]:
print(int(income_in_dollars)) #question 9

781

In [41]:
income_in_dollars=income//256

In [42]:
print(income_in_dollars)

781

In [44]:
weight_in_kg=weight_in_gram//1000

In [45]:
print(weight_in_kg)#question 10

70